@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500;900&display=swap');


/*

font-family: 'Rubik', sans-serif;

*/

/* line-height: 3em; */


.t-f-t {
    font-family: 'Rubik', sans-serif !important;
    font-weight: 900 !important;
}

.t-f-p {
    font-family: 'Rubik', sans-serif !important;
}

.centropch::placeholder {
    text-align: center;

}

.fondologin {

    background: rgb(244, 244, 244);
}

.btn-close {

    --bs-btn-close-focus-shadow: 0 0 0 0.25rem rgba(139, 139, 139, 0.0);
}

.fondoimg {
    height: 94.22vh;
    background: linear-gradient(180deg, rgba(255, 255, 255, 0.7) 0%, rgba(255, 255, 255, 0.0) 40%), url(/img/34.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    background-attachment: fixed;
}

.loginP {
    display: none;
}

.baner-h {

    margin-left: 5%;
    margin-right: 5%;
    display: flex;
    flex-direction: column;
    align-content: flex-start;
    flex-wrap: nowrap;
    align-items: center;
    text-align: center;
    gap: 14px;

}

.mtnav {
    margin-top: 18vh;
}

.baner-h h2 {
    font-size: 2.54rem;
}

.baner-h a {
    color: rgb(250, 250, 250);
    border: 2px solid rgb(250, 250, 250);
    outline: 2px dashed rgb(250, 250, 250);
    font-size: 1.4rem;
    padding: 6px 14px;
    text-shadow: 2px 2px 0 rgba(255, 0, 128, 0.8),0px 2px 2px rgba(0, 0, 0, 0.315);
    box-shadow: 2px 2px 0 rgb(255, 0, 128),1px 3px 10px rgba(0, 0, 0, 0.315);
    border-radius: 12px;
}

.baner-h a:hover {
    color: rgb(255, 0, 128);
    border: 2px solid rgb(255, 0, 128);
    text-shadow: 2px 2px 0 rgba(250, 250, 250, 0.8),0px 2px 2px rgba(0, 0, 0, 0.315);
    box-shadow: 2px 2px 0 rgb(250, 250, 250),0px 4px 6px rgba(0, 0, 0, 0.315);
    
}


.colornegro-t {
    color: rgb(33, 33, 33);
}


.lineablanca {
    margin-top: 14rem;
    background-color: rgb(250, 250, 250);
    box-shadow: 0px 10px 15px rgba(0, 0, 0, 0.322);
    height: 1.6rem;
}

.bode-letras {
    color: rgb(250, 250, 250);
    text-shadow: 2px 2px 0 rgb(255, 0, 128),0px 4px 6px rgba(0, 0, 0, 0.315);
}
























/* Movil */

@media (min-width: 576px) {
    .h2tamano {
        font-size: 2rem;
    }
    .esc-puntos {
        display:contents;
    }
}

/* Tablet */

@media (min-width: 768px) {
    .des-vis {
        flex-direction: row;
        flex-wrap: nowrap;
        justify-content: center;

    }

    .fondo2-2 {
        height: 80vh;
    }

    .fondo2 {
        height: 80vh;

    }

    .margenes-isotope {
        margin-top: 20%;
        margin-bottom: 20%;
    }

    .h2tamano {
        font-size: 3rem;
    }

    .m-helado-menu {
        margin-top: 20%;
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .promo-desc {
        padding-top: 20%;
        padding-bottom: 20%;
    }

    .fondo-contactos {
        padding-top: 20%;
        padding-bottom: 20%;
    
    }

}

/* Portatil */

@media (min-width: 992px) {

    .b-nav {
        flex-direction: row;
        padding: 10px;
    }


    .b-nav-a {
        margin-bottom: 0px;
    }

    .b-nav-l {

        flex-direction: row;
        column-gap: 70px;
        flex-basis: 90%;
        justify-content: flex-start;
    }

    .baner-h {

        gap: 14px;

    }

    .baner-h h2 {
        font-size: 4.6rem;
    }

    .info-bar {
        display: flex;
        padding: 30px;
        flex-direction: row;
        row-gap: 30px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .info-bar-s {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 12px;
        flex-basis: 20%;
        align-items: center;
        justify-content: center;
    }

    .b-nav-i {
        display: flex;
        gap: 12px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mtnav {
        margin-top: 13vh;
    }

    .margenes-isotope {
        margin-top: 10%;
        margin-bottom: 10%;
    }

    .m-helado-menu {
        margin-top: 10%;
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .h2tamano {
        font-size: 3rem;
    }

    .promo-desc {
        padding-top: 10%;
        padding-bottom: 10%;
    }

    .fondo-contactos {
        padding-top: 10%;
        padding-bottom: 10%;
    
    }
}

/* Ordenador */

@media (min-width: 1200px) {

    .b-nav {
        flex-direction: row;
        padding: 10px;
    }


    .b-nav-a {
        margin-bottom: 0px;
    }

    .b-nav-l {

        flex-direction: row;
        column-gap: 70px;
        flex-basis: 90%;
        justify-content: flex-start;
    }

    .baner-h {


        gap: 14px;

    }

    .baner-h h2 {
        font-size: 4.6rem;
    }

    .info-bar {
        display: flex;
        padding: 60px 30px;
        flex-direction: row;
        row-gap: 30px;
        justify-content: space-evenly;
        flex-wrap: wrap;
    }

    .info-bar-s {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        column-gap: 12px;
        flex-basis: 20%;
        align-items: center;
        justify-content: center;
    }

    .b-nav-i {
        display: flex;
        gap: 12px;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }

    .mtnav {
        margin-top: 20vh;
    }

    .margenes-isotope {
        margin-top: 6%;
        margin-bottom: 6%;
    }

    .m-helado-menu {
        margin-top: 6%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .promo-desc {
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .fondo-contactos {
        padding-top: 6%;
        padding-bottom: 6%;
    
    }
}